// Color variables

$color-primary: #F25A24;
$color-content: #696969;
$color-primary-transparent: rgba(242, 90, 36, 0.5);

// Import font

@font-face {
   font-family: 'Kollektif-Bold';
   src:  url('../fonts/kollektif/Kollektif-bold.ttf') format('ttf');
   font-weight: 800;
}

@font-face {
   font-family: 'Kollektif';
   src:  url('../fonts/kollektif/Kollektif.ttf') format('ttf');
   font-weight: 500;
}

@font-face {
  font-family: 'Lato';
  src:  url('../fonts/lato/Lato-Regular.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Lato-Bold';
  src:  url('../fonts/lato/Lato-Bold.ttf') format('ttf');
  font-weight: 800;
}


// Global

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  font-size: 1rem;
  margin: 0;
}

h1 {
  font-family: 'Kollektif-Bold';
  font-size: 2.9rem;
  color: $color-primary;
  visibility: visible;
  opacity: 1;
  height: 7rem;
  transition: visibility 500ms 0ms, opacity 500ms 500ms, height 500ms 500ms ;
}

h2 {
  font-family: 'Kollektif-Bold';
  font-size: 2rem;
  color: $color-primary;
}

.background-empty {
  background: none!important;
}

.hide {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

// Container

#root {
  width: 100%;
}

.container-nav, .container-search, .container-result {
    width: 100%;
}

.container-search {

  padding: 0 1rem;
  height: calc(100vh - 60px);
  display: flex;
  transition: height 500ms 500ms;
  transition-delay: 500ms;

  &.height-auto {
    height: 200px;
  }

  .block-form-search {
    width: 500px;
    text-align: center;
  }

}

.container-result {

  text-align: center;
  padding: 0 1rem;

  .block-list-result {
    width: 720px;
  }

}

@media (max-width: 768px) {

  .container-result {
    text-align: center;
  }

}

// Components

.block-form {

  margin: 0 auto;
  align-self: center;

  display: flex;
  flex-wrap: wrap;

  &.full-size {
    margin-bottom: 60px;
  }

  form {
    width:100%;
  }

  .text-input-form {

    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: visible;
    margin: 1rem auto;
    box-shadow: 0px 0px 10px 0px $color-primary-transparent;


    &:focus {
      border: 1px solid $color-primary;
    }

    &:required {

    }

  }

  .button-form {
    cursor: pointer;
    display: block;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: white;
    background-color: $color-primary;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0 auto;
  }

}

@media (max-width: 768px) {

  .form-search {
    width: 100%;
  }

}


.block-list {
  text-align: left;
  padding: 0;
  margin: 0 auto;
  width: 100%;

  a, a:link, a:visited, a:hover, a:active, a p{
    text-decoration: none;
    color: $color-content;
  }

  .item-list {
    list-style: none;
    display: flex;
    margin: 0 0 2rem 0;

    .img-item-list {

    }

    .content-item-list {

      p {
        margin: 0 0 0 1rem;
      }

    }

  }

}

@media (max-width: 768px) {

  .block-list-result {
    width: auto!important;

    .item-list {
      list-style: none;

    }
  }

}